Analysis/pilot.ipynb
Analysis/poster240925.ipynb
Analysis/Tag_clustering.ipynb

Data/Goodreads_Comics_Data/Data_Files/GraphicBiosCleaned.csv
Data/Goodreads_Comics_Data/Data_Files/GraphicBios_ActivePeriodFixed_240826.xlsx
Data/Goodreads_Comics_Data/Data_Files/GraphicBios.xlsx
Data/Goodreads_Comics_Data/Data_Files/GraphicBiosNew.xlsx
Data/Goodreads_Comics_Data/Data_Files/Masterdata_ongoing.xlsx
Data/Goodreads_Comics_Data/Data_Files/Masterdata_ongoing_227.xlsx

Data/Tags/*

Data/Reviews/*

Analysis/Scraper/log/*
Notes/
chrome_user_data/

